// assumes jQuery.js and underscore.js

var jsurls = {
    path_d:{},
    get_named_path:function(){
        var path = _.first(arguments);
        var args = _.rest(arguments);
        if(jsurls.path_d[path]) return jsurls.path_d[path].apply(this,args);
        return false;
    },
    reverse:function(){
        return this.get_named_path.apply(this,arguments);
    },
    url:function(){
        return this.get_named_path.apply(this,arguments);
    }

};

{% for url in named_urls %}

jsurls.{{ url.key }}_template= _.template("{{ url.url_template }}");
jsurls.{{ url.key }}_path = function({{ url.var_template }}){
    var var_d = { {% for v in url.var_li %}
        {{ v }}:{{ v }}{% if not forloop.last %},{% endif %}{% endfor %}
    };

    return jsurls.{{ url.key }}_template(var_d);
}
jsurls.path_d['{{ url.path_key }}'] = jsurls.{{ url.key }}_path;

{% endfor %}

